.perfil-body{
    background-color: #ffffff;
 
}
.perfil-body{
    color: blue;
    border: 1px solid #000000;
    background: #00417D;
    box-sizing: border-box;
}

.grande {
    width:500px;
}

.pequeno {
    width: 240px;
}